<div class="start-page-container">
  <div class="left-section">
    <mat-tab-group>
      <mat-tab label="Cluster">
        <app-cluster></app-cluster>
      </mat-tab>
      
      <mat-tab label="Diversity">
        <app-cluster-diversity></app-cluster-diversity>
      </mat-tab>
      
      <mat-tab label="MSA">
        <app-cluster-msa></app-cluster-msa>
      </mat-tab>
      <mat-tab label="PHMM">
        <app-cluster-phmm></app-cluster-phmm>
      </mat-tab>
      <mat-tab label="Recluster">
        <app-recluster></app-recluster>
      </mat-tab>
      <mat-tab label="Position Enrichment">
        <app-position-enrichment></app-position-enrichment>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>